@model gui.ViewModels.FirmaZRankingiemVM
@using ExtensionMVC5;

<dt>
    @Html.DisplayTextFor(n => n.nazwa_firmy)
</dt>
<dd>
    @Html.DisplayTextFor(n => n.adres_firmy)
</dd>
<dt>
    @Html.DisplayTextFor(n => n.email_firmy)
</dt>
<dd>
    @Html.DisplayTextFor(n => n.telefon_firmy)
</dd>
<div style="position: relative; background: url(../Images/shield.png); width: 100px; height: 100px; background-size: 100% 100%;">
    @Html.ActionLink(" ", "SzczegolyFirmy", new { id_firmy = Model.id_firmy }, new { @class = "divlink" })
    <div class="bc">
        <div class="bbl">
            <div class="lbl" style="color:#00ffff;">
                <h2>@Html.DisplayTextFor(n => n.ranking)</h2>
            </div>
        </div>

    </div>
</div>
@if (Model.zdjecie_firmy != null && Model.zdjecie_firmy != string.Empty)
{ 
    @Html.ActionImage(Model.zdjecie_firmy, "", "", "SczegolyFirmy", "Firma", new { id_firmy = Model.id_firmy })
}
else
{
}
