@model gui.ViewModels.NajlepszaFirmaVM
@{
    ViewBag.Title = "Index";
}
@using ExtensionMVC5;

<h2>Index</h2>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayTextFor(n => n.nazwa_firmy)
        </dt>
        <dd>
            @Html.DisplayTextFor(n => n.adres_firmy)
        </dd>
        <dt>
            @Html.DisplayTextFor(n => n.email_firmy)
        </dt>
        <dd>
            @Html.DisplayTextFor(n => n.telefon_firmy)
        </dd>
        <dd>
            <img src="@Html.GetUrlFromChart(Model.wykres)" width="400" height="250"/>
        </dd>

    </dl>
</div>
