@model gui.ViewModels.NajlepszaFirmaVM
@{
    ViewBag.Title = "Index";
}
@using ExtensionMVC5;

<h2>Index</h2>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="dl-horizontal">  
        <dt>
            @Html.DisplayTextFor(n => n.nazwa_firmy)
        </dt>
        <dd>
            @Html.DisplayTextFor(n => n.adres_firmy)
        </dd>
        <dt>
            @Html.DisplayTextFor(n => n.email_firmy)
        </dt>
        <dd>
            @Html.DisplayTextFor(n => n.telefon_firmy)
        </dd>
        <dd>
            @Html.ActionImage("~/Images/graphs/3baaf58f-6a13-423c-a82e-ff386b3a702f.jpeg", "", "", "SzczegolyFirmy", "Firma", new { id_firmy = Model.id_firmy })
        </dd>

    </dl>
</div>
