@model gui.ViewModels.FirmaZSzczegolamiVM
@{
    ViewBag.Title = "SzczegolyFirmy";
}
@using ExtensionMVC5;

<h2>SzczegolyFirmy</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayTextFor(n => n.nazwa_firmy)
    </dt>
    <dd>
        @Html.DisplayTextFor(n => n.adres_firmy)
    </dd>
    <dt>
        @Html.DisplayTextFor(n => n.email_firmy)
    </dt>
    <dd>
        @Html.DisplayTextFor(n => n.telefon_firmy)
    </dd>
    <dd>
        <img src="@Html.GetUrlFromChart(Model.wykres)" width="400" height="250" />
    </dd>
</dl>
@if (Model.zdjecie_firmy != null && Model.zdjecie_firmy != string.Empty)
{
    @Html.ActionImage(Model.zdjecie_firmy, "", "", "SczegolyFirmy", "Firma", new { id_firmy = Model.id_firmy })
}
else
{
}


@using (Html.BeginForm("DodajKomentarz", "Firma", new { id_firmy = Model.id_firmy }))
{
    @Html.TextArea("tresc")
    <input type="submit" value="Add Comment" />
}

@Html.Hidden("paczka", 0)
<div id="results">
    @Html.Partial("_KomentarzeList", Model.komentarze)
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    <script>
        var hub;
        $(function () {
            hub = $.connection.LikeHub;
            hub.client.PobierzOcene = function (id, ocena) {
                document.getElementById(id).innerHTML = ocena;
            };

            $.connection.hub.start().done();
        });
        function OnLike(id)
        {
            $.ajax({
                url: 'OcenKomentarzPozytywnie',
                type: "GET",
                data: { id_komentarza: id },
                success: function (value) {
                    document.getElementById(id).innerHTML = value;
                    hub.server.OcenKomentarz(id, value);
                }
            });
        }
        function OnDislike(id)
        {
            $.ajax({
                url: 'OcenKomentarzNegatywnie',
                type: "GET",
                data: { id_komentarza: id },
                success: function (value) {
                    document.getElementById(id).innerHTML = value;
                    hub.server.OcenKomentarz(id, value);
                }
            });
        }
        $(function () {
            var $win = $(window);

            $win.scroll(function () {
                if ($win.height() + $win.scrollTop() == $(document).height()) {
                    var paczka = parseInt($("#paczka").val(), 10) + 1;
                    $("#paczka").val(paczka);
                    $.ajax({
                        url: "@Url.Action("PobierzNajlepszeKomentarze")",
                        type: "GET",
                        data: {
                            id_firma: '@Html.Raw(Json.Encode(Model.id_firmy))',
                            paczka: paczka,
                        },
                    success: function (data) {
                        $("#results").append(data);
                    },
                    error: function (data) {
                        alert("This user cannot be deleted");
                    },
                    complete: function () {
                    }
                });
                }
            });
        });
    </script>
}
