@model gui.ViewModels.SczegolowaFirmaVM
@{
    ViewBag.Title = "SzczegolyFirmy";
}
@using ExtensionMVC5;

<h2>SzczegolyFirmy</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayTextFor(n => n.nazwa_firmy)
    </dt>
    <dd>
        @Html.DisplayTextFor(n => n.adres_firmy)
    </dd>
    <dt>
        @Html.DisplayTextFor(n => n.email_firmy)
    </dt>
    <dd>
        @Html.DisplayTextFor(n => n.telefon_firmy)
    </dd>
    <dd>
        <img src="@Html.GetUrlFromChart(Model.wykres)" width="400" height="250" />
    </dd>
</dl>

@foreach (var item in Model.komentarze)
{
    <dd>
        @Html.DisplayFor(modelItem => item.Item2)<br/>
        <label id="like_count+">@item.Item3</label>
        <img src="~/Images/positive.png" onclick="OnLike(@item.Item1)" class="likedislike"/>
        <img src="~/Images/negative.png" onclick="OnDislike(@item.Item1)" class="likedislike" />
    </dd>
}

@using (Html.BeginForm("DodajKomentarz", "Firma", new { id_firmy = Model.id_firmy }))
{
    @Html.TextArea("tresc")
    <input type="submit" value="Add Comment" />
}

@section scripts {
    <script>
        function OnLike(id)
        {
            $.ajax({
                url: 'OcenKomentarzPozytywnie',
                data: { id_komentarza: id },
                success: function () {
                    document.getElementById("like_count").innerHTML = parseInt(document.getElementById("like_count").innerHTML) + 1;
                }
            });
        }
        function OnDislike(id)
        {
            $.ajax({
                url: 'OcenKomentarzNegatywnie',
                data: { id_komentarza: id },
                success: function () {
                    document.getElementById("like_count").innerHTML = parseInt(document.getElementById("like_count").innerHTML) - 1;
                }
            });
        }
    </script>
}
}